# Morra Cinese - Requisiti Software
# Per Windows, Linux e Raspberry Pi
# Python >= 3.8

# Visione Artificiale e Riconoscimento Gesti
opencv-python-headless==4.12.0.88  # Elaborazione video e cattura webcam
mediapipe==0.10.14                  # Rilevamento e tracking delle mani

# Interfaccia Grafica
pygame==2.6.1                       # Framework per il rendering grafico

# Calcolo Numerico
numpy==2.2.6                        # Operazioni array e calcoli numerici
